In [6]:
import pandas as pd
import matplotlib as mpl
from matplotlib import colormaps

def cmap_to_hex(cmap_name):
    cmap = mpl.colormaps[cmap_name]
    hex_values = [mpl.colors.rgb2hex(cmap(i)) for i in range(cmap.N)]
    return hex_values

all_cmap_names = list(colormaps)
cmap_data = {
    'name': all_cmap_names,
    'palette': [cmap_to_hex(name) for name in all_cmap_names],
    'source': ['matplotlib builtin' for _ in all_cmap_names]
}

df_cmaps = pd.DataFrame(cmap_data)
df_cmaps.to_csv('purrpalette/cmaps.csv', index=False)

         name                                         hex_values
0       magma  [#000004, #010005, #010106, #010108, #020109, ...
1     inferno  [#000004, #010005, #010106, #010108, #02010a, ...
2      plasma  [#0d0887, #100788, #130789, #16078a, #19068c, ...
3     viridis  [#440154, #440256, #450457, #450559, #46075a, ...
4     cividis  [#00224e, #00234f, #002451, #002553, #002554, ...
..        ...                                                ...
165    Set3_r  [#ffed6f, #ccebc5, #bc80bd, #d9d9d9, #fccde5, ...
166   tab10_r  [#17becf, #bcbd22, #7f7f7f, #e377c2, #8c564b, ...
167   tab20_r  [#9edae5, #17becf, #dbdb8d, #bcbd22, #c7c7c7, ...
168  tab20b_r  [#de9ed6, #ce6dbd, #a55194, #7b4173, #e7969c, ...
169  tab20c_r  [#d9d9d9, #bdbdbd, #969696, #636363, #dadaeb, ...

[170 rows x 2 columns]